@model MvcAppHyLinedoBrasil.Models.DropDownListParametros
@using MvcAppHyLinedoBrasil.Models

@{
    ViewBag.Title = "SAC por Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("//code.jquery.com/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("//code.jquery.com/ui/1.11.0/jquery-ui.js")" type="text/javascript"></script>

<script type="text/javascript">
    //$(function () {
    //    $("#dataIni").datepicker({ dateFormat: "dd/mm/yy" });
    //});
    //$(function () {
    //    $("#dataFim").datepicker({ dateFormat: "dd/mm/yy" });
    //});
</script>

@Html.Partial("MenuDadosAssistenciaTecnica")

<h3>Relatório de Serviço de Atendimento ao Consumidor - SAC por Pedido</h3>

@using (Html.BeginForm("DownloadSAC", "ImportaDadosAssistTecnica", FormMethod.Post,
    new { enctype = "multipart/form-data", autocomplete = "off", target = "_blank" }))
{
<fieldset>
    <p align="center">
        Informe os parâmetros a seguir:
        <br />
        <br />
        @if (Session["empresa"].ToString().Length > 2)
        {
            <b>Selecione a Empresa: </b>
            @Html.DropDownListFor(
                d => d.Empresa,
                (IEnumerable<SelectListItem>)Session["ListaEmpresasRelComercial"])
            <br />
            <br />
        }
        @if (MvcAppHyLinedoBrasil.Controllers.AccountController.GetGroup("HLBAPP-AcessoListaVendedoresRelComercial",
                (System.Collections.ArrayList)Session["Direitos"]))
        {
            <b>Selecione o Vendedor / Representante: </b>
            @Html.DropDownListFor(
                d => d.Vendedor,
                (IEnumerable<SelectListItem>)Session["ListaVendedoresRelComercial"])
            <br />
            <br />
        }
        <b>
            Período: @Html.TextBox("dataIni", Session["sDataInicial"], new { @required = "true", @type = "date" })
            à @Html.TextBox("dataFim", Session["sDataFinal"], new { @required = "true", @type = "date" })
        </b>
        <br />
        <br />
        <b>Tipo de Data: </b>
        @Html.RadioButton("tipoData", "Entrega", Session["sTipoDataRRC"].ToString() == "Entrega" ? true : false, new { @required = "true" }) Data de Entrega
        @Html.RadioButton("tipoData", "Data Nascimento", Session["sTipoDataRRC"].ToString() == "Data Nascimento" ? true : false, new { @required = "true" } ) Data de Nascimento
    </p>
</fieldset>

    <div id="divUltimaReview">
        <h4>@Html.Raw(ViewBag.fileName)</h4>
        <h4 style="color:red;">@ViewBag.erro</h4>
    </div>
    <div class="editor-field">
        <input type="submit" value="Download SAC" id="importar"/>
    </div>
}

