@using am = MvcAppHyLinedoBrasil.Controllers.AccountController;
@{
    string lg = Session["language"].ToString();

    ViewBag.Title = am.Translate("Posição de Estoque de Ovos Férteis", lg);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@am.Translate("Posição de Estoque de Ovos Férteis", lg)</h2>

@using (Html.BeginForm("DownloadRelPosicaoEstoque", "RelatoriosProducao",
    FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank" }))
{
    <table>
        <tr>
            <td align="right">
                <b>@am.Translate("Posição do Estoque:", lg)</b>
            </td>
            <td>
                @Html.TextBox("posicaoEstoque", Session["posicaoEstoque"], new { @type = "date", @required = "true" })
            </td>
        </tr>
    </table>
    <div id="divUltimaReview">
        <h4>@Html.Raw(ViewBag.fileName)</h4>
        <h4 style="color:red;">@ViewBag.erro</h4>
    </div>
    <div class="editor-field" align="center">
        <input type="submit" value="@am.Translate("Gerar Relatório", lg)" id="importar" />
    </div>
}