@{
    System.Web.HttpBrowserCapabilitiesBase browser = Request.Browser;
    
    List<MvcAppHylinedoBrasilMobile.Models.RDV> listaRDV =
        (List<MvcAppHylinedoBrasilMobile.Models.RDV>)Session["ListaRDV"];

    var listaRDVFechados = listaRDV
        .GroupBy(g => new
            {
                g.NumeroFechamentoRDV,
                g.Empresa,
                g.Status,
                g.FormaPagamento,
            })
        .Select(s => new
            {
                s.Key.Empresa,
                s.Key.NumeroFechamentoRDV,
                s.Key.Status,
                s.Key.FormaPagamento,
                Banco = s.Max(m => m.Banco),
                NomeUsuario = s.Max(m => m.NomeUsuario),
                MesAnoFatura = s.Max(m => m.MesAnoFatura),
                IndEconNome = s.Max(m => m.IndEconNome),
                DataInicial = s.Min(m => m.DataRDV),
                DataFinal = s.Max(m => m.DataRDV),
                ValorTotal = s.Sum(m => m.ValorDespesa),
                ValorTotalMoedaEstrangeira = s.Sum(m => m.ValorMoedaEstrangeira),
                ValorRealCredito = s.Where(w => w.TipoDespesa.Contains("(C")).Sum(m => m.ValorDespesa),
                ValorRealDebito = s.Where(w => w.TipoDespesa.Contains("(D")).Sum(m => m.ValorDespesa),
                ValorMoedaEstrangeiraCredito = s.Where(w => w.TipoDespesa.Contains("(C"))
                    .Sum(m => m.ValorMoedaEstrangeira),
                ValorMoedaEstrangeiraDebito = s.Where(w => w.TipoDespesa.Contains("(D"))
                    .Sum(m => m.ValorMoedaEstrangeira)
            })
        .OrderBy(o => o.DataInicial)
        .ToList();

    bool downloadMobile = false;
    if (Request.Browser.IsMobileDevice)
    {
        downloadMobile = true;
    }
}
<div align="center">
    <p>
        @Html.ActionLink("Voltar p/ Menu RDV", "MenuRDV", "RDV")
    </p>
    @Html.Image(@Url.Content("~/Content/images/Amil-Reembolso-Icon.png"), "RDV")
    <h2>Lista de RDV - Fechados Geral</h2>
</div>
<br />
<h4 style="color:red;">@Html.Raw(ViewBag.Erro)</h4>
<h4 style="color:blue;">@Html.Raw(ViewBag.Mensagem)</h4>

@using (Html.BeginForm("SearchRDVFechadoGeral", "RDV"))
{
    <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
            <b>Data Inicial:</b>
            <div class="editor-label">
                @if (browser.Browser.Equals("Chrome") || browser.Browser.Equals("Safari"))
                {
                    @Html.TextBox("dataInicialRDV", Convert.ToDateTime(Session["dataInicialRDV"]).ToString("yyyy-MM-dd"), new { @type = "date" })
                }
                else
                {
                    @Html.TextBox("dataInicialRDV", Convert.ToDateTime(Session["dataInicialRDV"]).ToString("dd/MM/yyyy"), new { @type = "date" })
                }
            </div>
        </li>
        <li data-role="fieldcontain">
            <b>Data Final:</b>
            <div class="editor-label">
                @if (browser.Browser.Equals("Chrome") || browser.Browser.Equals("Safari"))
                {
                    @Html.TextBox("dataFinalRDV", Convert.ToDateTime(Session["dataFinalRDV"]).ToString("yyyy-MM-dd"), new { @type = "date" })
                }
                else
                {
                    @Html.TextBox("dataFinalRDV", Convert.ToDateTime(Session["dataFinalRDV"]).ToString("dd/MM/yyyy"), new { @type = "date" })
                }
            </div>
        </li>
        @*<li data-role="list-divider">FILTRO DE MÊS / ANO SOMENTE PARA GERAÇÃO DO RELATÓRIO DE CARTÃO CORPORATIVO</li>
        <li data-role="fieldcontain">
            <b>Mês/Ano Inicial:</b>
            <div class="editor-label">
                @Html.TextBox("mesInicialRDV", Convert.ToDateTime(Session["dataInicialRDV"]).ToString("yyyy-MM"), new { @type = "month" })
            </div>
        </li>
        <li data-role="fieldcontain">
            <b>Mês/Ano Final:</b>
            <div class="editor-label">
                @Html.TextBox("mesFinalRDV", Convert.ToDateTime(Session["dataFinalRDV"]).ToString("yyyy-MM"), new { @type = "month" })
            </div>
        </li>*@
        <li data-role="fieldcontain">
            <b>Usuário:</b>
            <div class="editor-field">
                @Html.DropDownList(
                    "Usuario",
                    (List<SelectListItem>)Session["ListaFuncionariosPesquisa"])
            </div>
        </li>
        <li data-role="fieldcontain">
            <b>Status:</b>
            <div class="editor-field">
                @Html.DropDownList(
                    "Status",
                    (List<SelectListItem>)Session["ListaStatus"])
            </div>
        </li>
        <li data-role="fieldcontain">
            <input type="submit" value="Pesquisar" />
        </li>
    </ul>
}
@Html.Partial("_MenuRDVFinanceiro")
<br />
<div class="editor-label"  align="center">
    <table style="width: 90%">
        <tr style="font-size: xx-small; background-color:Gray">
            <th colspan="6" style="font-size: xx-small; background-color:Gray">
                <u>Legenda de Ações:</u>
            </th>
        </tr>
        <tr style="font-size: xx-small">
            <td style="font-size: xx-small">
                @Html.Image(@Url.Content("~/Content/icons/visualizar.png"), "")
                <i>Visualiza RDV</i>
            </td>
            <td style="font-size: xx-small">
                @Html.Image(@Url.Content("~/Content/icons/button_cancel.png"), "")
                <i>Excluir RDV</i>
            </td>
            <td style="font-size: xx-small">
                @Html.Image(@Url.Content("~/Content/icons/print.png"), "")
                <i>Imprimir RDV</i>
            </td>
        </tr>
    </table>
</div>
<br />
<div id="divTabelaIndexPV" style="overflow:auto" >
<table id="tabelaIndexPV" class="ajustetabelaIndexPV">
    <tbody class="ajustetabelaIndexPV">
    <tr class="ajustetabelaIndexPV">
        <th class="ajustetabelaIndexPV">
            Empresa
        </th>
        <th class="ajustetabelaIndexPV">
            Forma Pag.
        </th>
        <th class="ajustetabelaIndexPV">
            Usuário
        </th>
        <th class="ajustetabelaIndexPV">
            Data Inicial
        </th>
        <th class="ajustetabelaIndexPV">
            Data Final
        </th>
        <th class="ajustetabelaIndexPV" colspan="2">
            Valores
        </th>
        <th class="ajustetabelaIndexPV">
            Nº Fech. RDV
        </th>
        <th class="ajustetabelaIndexPV">
            Status
        </th>
        <th class="ajustetabelaIndexPV">
            Ações
        </th>
    </tr>
@foreach (var item in listaRDVFechados)
{
    <tr class="ajustetabelaIndexPV">
        <td class="ajustetabelaIndexPV">
            @Html.DisplayFor(modelItem => item.Empresa)
        </td>
        <td class="ajustetabelaIndexPV">
            @if (item.FormaPagamento.Equals("Cartão Corp."))
            {
                @(item.FormaPagamento + " - " + item.MesAnoFatura + " - " + item.Banco)
            }
            else
            {
                @(item.FormaPagamento)
            }
        </td>
        <td class="ajustetabelaIndexPV">
            @Html.DisplayFor(modelItem => item.NomeUsuario)
        </td>
        <td class="ajustetabelaIndexPV">
            @String.Format("{0:dd/MM/yy}", item.DataInicial)
        </td>
        <td class="ajustetabelaIndexPV">
            @String.Format("{0:dd/MM/yy}", item.DataFinal)
        </td>
        <td class="ajustetabelaIndexPV">
            @if ((item.ValorRealCredito - item.ValorRealDebito) < 0)
            {
                @String.Format("({0:C2})", (item.ValorRealCredito - item.ValorRealDebito) * (-1))
            }
            else
            {
                if ((item.ValorRealCredito - item.ValorRealDebito) != 0)
                {
                    @String.Format("{0:C2}", (item.ValorRealCredito - item.ValorRealDebito))
                }
                else
                {
                    @String.Format("{0:C2}", (item.ValorTotal))
                }
            }
        </td>
        <td class="ajustetabelaIndexPV">
            @if ((item.ValorTotalMoedaEstrangeira) != 0)
            {
                if ((item.ValorMoedaEstrangeiraCredito - item.ValorMoedaEstrangeiraDebito) < 0)
                {
                    @String.Format("("
                        + item.IndEconNome.Substring(item.IndEconNome.IndexOf("-") + 2,
                            item.IndEconNome.Length - (item.IndEconNome.IndexOf("-") + 2))
                        + " {0:N2})", (item.ValorMoedaEstrangeiraCredito - item.ValorMoedaEstrangeiraDebito) * (-1));
                }
                else
                {
                    if ((item.ValorMoedaEstrangeiraCredito - item.ValorMoedaEstrangeiraDebito) != 0)
                    {
                        @String.Format(""
                            + item.IndEconNome.Substring(item.IndEconNome.IndexOf("-") + 2,
                                item.IndEconNome.Length - (item.IndEconNome.IndexOf("-") + 2))
                            + " {0:N2}", (item.ValorMoedaEstrangeiraCredito - item.ValorMoedaEstrangeiraDebito));
                    }
                    else
                    {
                        @String.Format(""
                            + item.IndEconNome.Substring(item.IndEconNome.IndexOf("-") + 2,
                                item.IndEconNome.Length - (item.IndEconNome.IndexOf("-") + 2))
                            + " {0:N2}", (item.ValorTotalMoedaEstrangeira));
                    }
                }
            }
        </td>
        <td class="ajustetabelaIndexPV">
            @Html.DisplayFor(modelItem => item.NumeroFechamentoRDV)
        </td>
        <td class="ajustetabelaIndexPV">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <table>
                <tr>
                    <td align="center">
                        @Html.ActionLink("Visualiza", "VisualizaRDVFechadoGeral",
                             new { numRDV = item.NumeroFechamentoRDV },
                             new
                             {
                                 @class = "visualizar",
                                 @title = "Clique aqui para Visualizar os Lançamentos deste RDV"
                             })
                    </td>
                    @if (item.Status == "Aprovado" || item.Status == "Recebido Financeiro")
                    {
                        <td align="center">
                            @Html.ActionLink("Receber", "RecebimentoRDV",
                                new { numRDV = item.NumeroFechamentoRDV },
                                new { @class = "apply", @title = "Clique aqui para Receber o RDV" })
                        </td>
                    }
                    <td align="center">
                        @Html.ActionLink("Histórico", "LogRDV",
                            new { numRDV = item.NumeroFechamentoRDV },
                            new { @class = "log", @title = "Clique aqui para ver o Histórico do RDV" })
                    </td>
                    @if (item.NumeroFechamentoRDV != null && item.NumeroFechamentoRDV != "")
                    {
                        <td align="center">
                            @Html.ActionLink("Imprimir RDV", "PrintRDV",
                                new
                                {
                                    numRDV = item.NumeroFechamentoRDV,
                                    download = downloadMobile
                                },
                                new
                                {
                                    @class = "print",
                                    @target = "_blank",
                                    @title = "Clique aqui para Imprimir o RDV"
                                })
                        </td>
                    }
                    @if (item.FormaPagamento == "Cartão Corp." && item.Status == "Pendente")
                    {
                        <td align="center">
                            @Html.ActionLink("Classificar", "ClassificaFatura",
                                 new { numRDV = item.NumeroFechamentoRDV },
                                 new
                                      {
                                          @class = "edit",
                                     @title = "Clique aqui para Classificar a Fatura"
                                      })
                        </td>
                        <td align="center">
                            @Html.ActionLink("Importar Para Apolo", "ImportaFaturaApolo",
                                 new { numRDV = item.NumeroFechamentoRDV },
                                 new
                                {
                                    @class = "duplicar",
                                    @title = "Clique aqui para Importar para o Apolo"
                                })
                        </td>
                    }
                </tr>
            </table>
        </td>
    </tr>
}
</tbody>
</table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}