@{
    ViewBag.Title = "Dashboard - Incubatórios - Diário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("//code.jquery.com/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("//code.jquery.com/ui/1.11.0/jquery-ui.js")" type="text/javascript"></script>

<h3>Dashboard - Incubatórios - Diário</h3>
    @Html.Partial("Abas")
<table>
    <tr>
        <td>
            <div>
            @using (Html.BeginForm("AtualizaIncubatoriosDiario", "DashBoardProduction", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Partial("ParametrosIncubatorios")
            }
            @Html.Partial("AbasPeriodoIncubatorios")
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Partial("CapacidadeDiaria")
        </td>
    </tr>
    <tr>
        <td>
            @Html.Partial("MediaEclosaoDiaria")
        </td>
    </tr>
    <tr>
        <td> 
            @Html.Partial("MediaRefugosDiaria")
        </td>
    </tr>
    <tr>
        <td> 
            @Html.Partial("MediaDestruidosDiaria")
        </td>
    </tr>
</table>

