@{
    System.Web.HttpBrowserCapabilitiesBase browser = Request.Browser;
    
    List<MvcAppHylinedoBrasilMobile.Models.Investimento> listaInvestimentos =
        (List<MvcAppHylinedoBrasilMobile.Models.Investimento>)Session["ListaInvestimentos"];

    MvcAppHylinedoBrasilMobile.Models.bdApolo2.Apolo10Entities apolo = new MvcAppHylinedoBrasilMobile.Models.bdApolo2.Apolo10Entities();

    MvcAppHylinedoBrasilMobile.Models.HLBAPPEntities hlbapp = new MvcAppHylinedoBrasilMobile.Models.HLBAPPEntities();

    SelectListItem anoFiscalSI = ((List<SelectListItem>)Session["FiltroListaAnoFiscalInv"])
        .Where(w => w.Selected == true).FirstOrDefault();
    int anoInicial = Convert.ToInt32(anoFiscalSI.Text.Substring(0, 4));
    int anoFinal = Convert.ToInt32(anoFiscalSI.Text.Substring(5, 4));

    DateTime dataInicial = new DateTime(anoInicial, 7, 1);
    DateTime dataFinal = new DateTime(anoFinal, 6, 1);
}

<div align="center">
    <ul data-role="listview" data-inset="true">
        <li>
            @Html.ActionLink("Voltar para o Menu de Orçamentos", "MenuOrcamento", "Orcamento", 
                null,
                new { @title = "Clique aqui para voltar para o Menu de Orçamentos", @class = "budget" })
        </li>
    </ul>
    @Html.Image(@Url.Content("~/Content/icons/table_invest.png"), "Investimento")
    <h2>Tabela de Investimentos / Mês</h2>
</div>
<br />
<h4 style="color:red;">@Html.Raw(ViewBag.Erro)</h4>
<h4 style="color:blue;">@Html.Raw(ViewBag.Mensagem)</h4>

@using (Html.BeginForm("SearchTabelaInvestimentoMes", "Orcamento"))
{
    <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
            <b>Ano Fiscal:</b>
            <div class="editor-field">
                @Html.DropDownList(
                    "AnoFiscal",
                    (List<SelectListItem>)Session["FiltroListaAnoFiscalInv"])
            </div>
        </li>
        <li data-role="fieldcontain">
            <b>Departamento:</b>
            <div class="editor-field">
                @Html.DropDownList(
                    "Departamento",
                    (List<SelectListItem>)Session["FiltroListaDepartamentosInv"])
            </div>
        </li>
        <li data-role="fieldcontain">
            <input type="submit" value="Pesquisar" />
        </li>
    </ul>
}
<br />
<div id="divTabelaIndexPV" @*style="overflow:auto"*@ >
<table id="tabelaIndexPV" class="ajustetabelaInvestimentoMes">
    <tbody class="ajustetabelaInvestimentoMes">
    <tr class="ajustetabelaInvestimentoMes">
        <th class="ajustetabelaInvestimentoMes">
            Nº Projeto
        </th>
        <th class="ajustetabelaInvestimentoMes">
            Nome
        </th>
        <th class="ajustetabelaInvestimentoMes">
            Departamento
        </th>
        @while (dataInicial <= dataFinal)
        {
            if (Convert.ToInt32(dataInicial.ToString("yyyyMM")) >= Convert.ToInt32(DateTime.Today.ToString("yyyyMM")))
            {
            <th class="ajustetabelaInvestimentoMes" style="background-color: Maroon">
                @dataInicial.ToString("MMM/yy")
            </th>
            }
            else
            {
            <th class="ajustetabelaInvestimentoMes" style="background-color: Silver">
                @dataInicial.ToString("MMM/yy")
            </th>
            }
            dataInicial = dataInicial.AddMonths(1);
        }
    </tr>
@foreach (var item in listaInvestimentos)
{
    string anoFiscal = item.AnoMesInicial.ToString().Substring(0, 4) + "-" + item.AnoMesFinal.ToString().Substring(0, 4);

    string nomeDepartamento = apolo.FUNCIONARIO.Where(w => w.FuncCod == item.Departamento).FirstOrDefault().FuncNome;
    //string nomeResponsavel = apolo.FUNCIONARIO.Where(w => w.FuncCod == item.Responsavel).FirstOrDefault().FuncNome;

    MvcAppHylinedoBrasilMobile.Models.AnoFiscal anoFiscalObj = hlbapp.AnoFiscal.Where(w => w.AnoFiscal1 == anoFiscal).FirstOrDefault();

    List<MvcAppHylinedoBrasilMobile.Models.Investimento_Mes> listaInvestimentosMes =
        hlbapp.Investimento_Mes.Where(w => w.IDInvestimento == item.ID)
        .OrderBy(o => o.AnoMes).ToList();
    
    <tr class="ajustetabelaInvestimentoMes">
        <td class="ajustetabelaInvestimentoMes">
           <b>@(item.NumeroProjeto)</b>
        </td>
        <td class="ajustetabelaInvestimentoMes">
            <b>@(item.NomeProjeto)</b>
        </td>
        <td class="ajustetabelaInvestimentoMes">
            <b>@(nomeDepartamento)</b>
        </td>
        @foreach (var mes in listaInvestimentosMes)
        {
            <td class="ajustetabelaInvestimentoMes">
                @if (mes.AnoMes >= Convert.ToInt32(DateTime.Today.ToString("yyyyMM")))
                {
                    if (mes.Saldo > 0)
                    {
                        <b>@String.Format("{0:N2}", mes.Saldo)</b>
                        <table>
                            <tr>
                                @*<td align="center">
                                    <div class="tooltip">
                                        @Html.ActionLink("Valor Utilizado", "AlteraValorUtilizadoInvestimentoMes",
                                            new { id = mes.ID },
                                                new
                                                {
                                                    @class = "preco"
                                                })
                                        <span class="tooltiptext">Clique aqui para alterar o valor utilizado.</span>
                                    </div>
                                </td>*@
                                <td align="center">
                                    <div class="tooltip">
                                    @Html.ActionLink("Transferir Saldo", "SolicitacaoTransferenciaSaldoInvestimentoMes",
                                          new { id = mes.ID },
                                          new
                                          {
                                              @class = "transfer_16"
                                          })
                                          <span class="tooltiptext">Clique aqui para solicitar a transferência do saldo para outro investimento.</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        @Html.Label("-")
                    }
                    if (mes.ValorSolicitado > 0)
                    {
                        @*<i>@String.Format("Solicitado: {0:N2}", mes.ValorSolicitado)</i>*@
                        <div class="tooltip">
                            <i>@Html.ActionLink(String.Format("Solicitado: {0:N2}", mes.ValorSolicitado), "DetalhesSolicitacaoInvestimentoMes",
                                new { idInv = mes.IDInvestimento, anoMes = mes.AnoMes })
                                <span class="tooltiptext">Clique aqui para detalhar as solicitações de investimento.</span>
                            </i>
                        </div>
                    }
                }
                else
                {
                    if (mes.ValorUtilizado > 0)
                    {
                        <i>@String.Format("{0:N2}", mes.ValorUtilizado)</i>
                    }
                    else
                    {
                        @Html.Label("-")
                    }
                }
            </td>
        }
    </tr>
}
</tbody>
</table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}