@using am = MvcAppHylinedoBrasilMobile.Controllers.AccountMobileController;

@{
    ViewBag.Title = "";
    System.Web.HttpBrowserCapabilitiesBase browser = Request.Browser;
    string lg = Session["language"].ToString();
    
    MvcAppHylinedoBrasilMobile.Models.HLBAPPEntities bd = new MvcAppHylinedoBrasilMobile.Models.HLBAPPEntities();
    
    var lista = (List<MvcAppHylinedoBrasilMobile.Models.LayoutDiarioExpedicaos>)Session["ListaAjusteEstoque"];

    var listaAgrupada = lista
        .GroupBy(g => new
        {
            //g.Granja,
            g.DataHoraCarreg,
            g.NumIdentificacao,
            g.Importado
        })
        .Select(s => new
        {
            s.Key,
            QtdeTotalAnterior = s.Sum(m => m.QtdeBandejas),
            QtdeTotalAtual = s.Sum(m => m.QtdeConferencia),
            QtdeTotalAjustada = s.Sum(m => (m.QtdeOvos * -1))
        })
        .OrderBy(o => o.Key.DataHoraCarreg)
        .ToList();

    string incubatorio = Session["incubatorioSelecionado"].ToString();
}

<div align="center">
    <ul data-role="listview" data-inset="true">
        <li>
            @Html.ActionLink(am.GetTextOnLanguage("Voltar p/ Menu de Controle de Estoque de Ovos", lg), "MenuControleEstoqueOvos", "DiarioExpedicao", new { @class = "AQO" })
        </li>
    </ul>
    @Html.Image(@Url.Content("~/Content/icons/box_32.png"), "")
    <h2>@am.GetTextOnLanguage("Lista de Ajuste de Estoque", lg)</h2>
</div>
<br />
@if (ViewBag.Erro != null)
{
<h4 id="lblMsgErro" class="@(ViewBag.ClasseMsg) ui-li ui-li-static">
    @Html.Raw(ViewBag.Erro)
</h4>
}
<br />
@using (Html.BeginForm("FiltraListaAjusteEstoque", "DiarioExpedicao"))
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            <b>@am.GetTextOnLanguage("Selecione o Incubatório", lg):</b>
                @Html.DropDownList(
                "incubatorio",
                (List<SelectListItem>)Session["ListaIncubatorios"])
        </li>
        <li data-role="fieldcontain">
            <b>@am.GetTextOnLanguage("Data Inicial do Ajuste", lg):</b>
            <div class="editor-label">
                @Html.TextBox("dataInicial", Convert.ToDateTime(Session["dataInicial"]).ToString("yyyy-MM-dd"), 
                new { @type = "date" })
            </div>
        </li>
        <li data-role="fieldcontain">
            <b>@am.GetTextOnLanguage("Data Final do Ajuste", lg):</b>
            <div class="editor-label">
                @Html.TextBox("dataFinal", Convert.ToDateTime(Session["dataFinal"]).ToString("yyyy-MM-dd"), 
                new { @type = "date" })
            </div>
        </li>
        <li data-role="fieldcontain">
            <input type="submit" value="@am.GetTextOnLanguage("Pesquisar", lg)" />
        </li>
    </ul>
}
<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">@am.GetTextOnLanguage("Menu do Ajuste de Estoque", lg)</li>
    <li>
        @Html.ActionLink(am.GetTextOnLanguage("Novo Ajuste de Estoque", lg), "CreateAjusteEstoque", "DiarioExpedicao", 
            null,
            new { @class = "add", @title = am.GetTextOnLanguage("Clique aqui para Inserir novo Ajuste de Estoque", lg) })
    </li>
</ul>
<br />
<div id="tabelaDEO" style="overflow:auto;">
<table id="tabela">
    <tr>
        <th></th>
        <th></th>
        <th>
            ID
        </th>
        @*<th>
            @am.GetTextOnLanguage("Incubatório", lg)
        </th>*@
        <th>
            @am.GetTextOnLanguage("Data / Hora", lg)
        </th>
        <th>
            @am.GetTextOnLanguage("Qtde. Estq. Anterior", lg)
        </th>
        <th>
            @am.GetTextOnLanguage("Qtde. Estq. Atual", lg)
        </th>
        <th>
            @am.GetTextOnLanguage("Qtde. Ajustada", lg)
        </th>
        <th>
            @am.GetTextOnLanguage("Status", lg)
        </th>
    </tr>

@foreach (var item in listaAgrupada)
{
    <tr>
        <td class="ajuste">
            <div align="center">
                @Html.ActionLink("Edit", "EditAjusteEstoque",
                        new { numIdentificacao = item.Key.NumIdentificacao },
                        new { @class = "edit" })
            </div>
        </td>
        <td class="ajuste">
            <div align="center">
                @if (item.Key.Importado != "Conferido")
                {
                    @Html.ActionLink("Delete", "DeleteAjusteEstoque",
                        new { numIdentificacao = item.Key.NumIdentificacao },
                        new { @class = "delete" })
                }
                @*else
                {
                    @Html.ActionLink("Rastreabilidade", "RastreabilidadeDEO",
                        new { granja = item.Key.Granja, dataHoraCarreg = item.Key.DataHoraCarreg },
                        new { @class = "lote" })
                }*@
            </div>
        </td>
        <td>
            @item.Key.NumIdentificacao
        </td>
       @* <td>
            @item.Key.Granja
        </td>*@
        <td>
            @item.Key.DataHoraCarreg.ToString("dd/MM/yyyy HH:mm")
        </td>
        <td>
            @String.Format("{0:N0}", item.QtdeTotalAnterior)
        </td>
        <td>
            @String.Format("{0:N0}", item.QtdeTotalAtual)
        </td>
        <td>
            @String.Format("{0:N0}", item.QtdeTotalAjustada)
        </td>
        <td>
            @item.Key.Importado
        </td>
    </tr>
}

</table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}