@{
    ViewBag.Title = "";
}

<div align="center">
    <p>
        @Html.ActionLink("Voltar p/ Lista de DEOs", "ListaDEOs", "DiarioExpedicao")
    </p>
    @Html.Image(@Url.Content("~/Content/icons/diario_expedicao.png"), "DEO")
    <h2>Parâmetros para a geração do Diário de Expedição</h2>

    @using (Html.BeginForm("GerarDEO", "DiarioExpedicao"))
    {
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain">
                <b>Primeira Data de Produção:</b>
                <div class="editor-label">
                    @Html.TextBox("dataInicial", Convert.ToDateTime(Session["primeiraDataProducao"]).ToString("yyyy-MM-dd"), 
                        new { @type = "date" })
                </div>
            </li>
            <li data-role="fieldcontain">
                <b>Última Data de Produção:</b>
                <div class="editor-label">
                    @Html.TextBox("dataFinal", Convert.ToDateTime(Session["ultimaDataProducao"]).ToString("yyyy-MM-dd"), 
                        new { @type = "date" })
                </div>
            </li>
            <li data-role="fieldcontain">
                <input type="submit" value="Gerar DEO" />
            </li>
        </ul>
    }
</div>