@model IEnumerable<MvcAppHylinedoBrasilMobile.Models.LayoutDiarioExpedicaos>

@{
    ViewBag.Title = "";

    var listaAgrupada = Model.GroupBy(g => new
        {
            g.Granja,
            g.Incubatorio,
            g.DataHoraCarreg,
            g.Linhagem,
            g.Lote,
            g.LoteCompleto,
            g.DataProducao
        })
        .Select(s => new
        {
            s.Key.Granja,
            s.Key.Incubatorio,
            s.Key.DataHoraCarreg,
            s.Key.Linhagem,
            s.Key.Lote,
            s.Key.LoteCompleto,
            s.Key.DataProducao,
            TotalOvos = s.Sum(u => u.QtdeOvos)
        })
        .OrderBy(o => o.Linhagem).ThenBy(t => t.LoteCompleto).ThenBy(t => t.DataProducao)
        .ToList();
}

<div align="center">
    <p>
        @*@Html.ActionLink("Voltar", null, null, null, new { @href = Request.UrlReferrer })*@
        @Html.ActionLink("Voltar p/ Lista de DEOs", "ListaDEOs", "DiarioExpedicao")
    </p>
    @Html.Image(@Url.Content("~/Content/icons/checkDiarioProducao.png"), "DEO")
    <h2>Rastreabilidade do Diário de Expedição @Html.Label(Session["dataHoraCarreg"].ToString())</h2>
</div>
<div id="tabelaDEO" style="overflow:auto;">
    <table id="tabela">
        <tr>
            <th></th>
            <th>
                Linhagem
            </th>
            <th>
                Lote
            </th>
            <th>
                Lote Completo
            </th>
            <th>
                Data Prd.
            </th>
            <th>
                Qtde. DEO
            </th>
            <th>
                Saldo
            </th>
            <th>
                Diferença
            </th>
        </tr>
        @foreach (var item in listaAgrupada)
        {
        <tr>
            @{
                int saldo = MvcAppHylinedoBrasilMobile.Controllers.DiarioExpedicaoController.RetornaSaldo(item.Incubatorio,
                    item.LoteCompleto, item.DataProducao);
                int diferenca = saldo - Convert.ToInt32(item.TotalOvos);
            }
            <td>
                <div align="center">
                    @Html.ActionLink("Rastrear Lote", "RastreabilidadeLote",
                        new { lote = item.LoteCompleto, dataProducao = item.DataProducao, chamada = "RastreabilidadeDEO" }, new { @class = "ajuste" })
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linhagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoteCompleto)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.DataProducao)
            </td>
            <td>
                @String.Format("{0:N0}", item.TotalOvos)
            </td>
            <td>
                @String.Format("{0:N0}", saldo)
            </td>
            <td>
                @String.Format("{0:N0}", diferenca)
            </td>
        </tr>
        }
    </table>
</div>
